<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <img style="height: 200px;" src="images/logo.png" alt="logo">
    <br>
    <a class="btn btn-light btn-lg" style="margin-right: 20px; background:#216287; color: white;" href="/secrets" role="button">Spent-Paid Mode</a>
    <a class="btn btn-dark btn-lg" href="/trail" style=" padding-left: 30px; padding-right: 30px;" role="button">Matrix Mode</a>

    <br>
    <a class="btn btn-light btn-lg" style="margin-top: 10px;" href="/logout" role="button">Log Out</a>
  </div>
</div>

<%- include('partials/footer') %>
